@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');

* {
    box-sizing: border-box;
}

body {
    color: var(--dark-violet);
    margin: 0;
    padding: 0;
    font-family: 'IBM Plex Sans', sans-serif;
    background-image: linear-gradient(127deg,#ff1818,rgba(255,255,255,0) 70%),linear-gradient(240deg,rgba(0,64,64,0.8),rgba(0,255,128,0) 80%),linear-gradient(350deg,rgba(32,0,255,0.9),rgba(0,0,255,0) 80%);
}

#navbar {
    display: flex;
    height: 106px;
}

h1,
h2,
h3 {
    font-family: 'IBM Plex Sans', sans-serif;
    font-weight: 400;
}
h3 {
    font-size: 1.3rem;
    font-weight: 600;
}
p {
    font-style: italic;
}

h1,
h2 {
    font-size: 3em;
    color: white;
    letter-spacing: 2px;
    line-height: 1;
    margin: 0;
}

h1.about {
    padding-top: 150px;
    color: black;
    font-weight: 500;
    font-size: 45px;
}
.simbol {
    vertical-align: bottom;
}

.ab-section {
    padding-bottom: 150px;
}

p {
    line-height: 1.7;
    color: white;
}
.slick-dots {
    text-align: right;
}

section {
    background-color: #fff;
}

span.name {
    font-style: normal;
    font-weight: bold;
}
span.job {
    font-style: normal;
    font-weight: lighter;
}
.text-right {
    padding-bottom: 100px;
}

.slick-arrow {
    position: absolute;
    bottom: -40px;
    right: 0;
    font-size: 40px;
    color: #fff;
}
.fa-angle-left {
    right: 80px;
    z-index: 1;
}

.image-header {
	animation: float 4s ease-in-out infinite;
}

.sticky img {
    width: 180px;
    height: 48px;
    margin: 25px;
    margin-left: 17%;
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
    margin-top: 0;
    z-index: 9;
    background-image: linear-gradient(127deg,#ff1818,rgba(255,255,255,0) 80%),linear-gradient(240deg,rgba(0,64,64,0.8),rgba(0,255,128,0) 90%),linear-gradient(350deg,rgba(32,0,255,0.9),rgba(0,0,255,0) 90%);
}
.slick-arrow:hover {
    transform: scale(1.2);
}

.footer-copyright {
    color: white;
    font-family: Arial, sans-serif; 
}

@media screen and (max-width:767px) {
    .sticky img {
        margin-left: 0;
    }
    #navbar {
        justify-content: center;
    }

    .career, .about, #slideshow {
        text-align: center;
        margin: 40px;
    }
    .fa-angle-left {
        left: 20%;
    }
    .fa-angle-right {
        right: 40%;
    }
    h1.about {
        padding-top: 50px;
    }
    
    .ab-section {
        padding-bottom: 50px;
    }
    .sticky {
        text-align: center;
    }
}

/* Animations */

@keyframes float {
	0% {
		transform: translatey(0px);
	}
	50% {
		transform: translatey(-20px);
	}
	100% {
		transform: translatey(0px);
	}
}








   
